<ng-container *ngIf="members; else failureOrLoading">
  <section class="w-full flex flex-col gap-4 py-10">
    <div class="p-4 overflow-hidden shadow-lg">
      <div class="overflow-auto rounded-t-md">
        <table class="w-full">
          <thead>
            <tr
              class="text-sm font-medium tracking-wide text-left text-white bg-green-700 uppercase border-b border-gray-700"
            >
              <th class="py-4 px-6">Full Name</th>
              <th class="py-4 px-6">email</th>
              <th class="py-4 px-6">Join date</th>
              <th class="py-4 px-6">nationality</th>
              <th class="py-4 px-6">ID Number</th>
              <th class="py-4 px-6">Role</th>

              <th class="py-4 px-6">isActivate</th>
            </tr>
          </thead>
          <tbody class="bg-black/90">
            <tr *ngFor="let member of members.content" class="text-gray-500">
              <td
                class="px-4 py-3 text-sm font-semibold border border-gray-700"
              >
                <a routerLink="'/admin/competitions', comp.code">
                  {{ member.first_name }} {{ member.last_name }}
                </a>
              </td>
              <td
                class="px-4 py-3 text-sm font-semibold border border-gray-700"
              >
                {{ member.email }}
              </td>
              <td
                class="px-4 py-3 text-sm font-semibold border border-gray-700"
              >
                {{ member.accessionDate }}
              </td>
              <td class="px-4 py-3 text-sm border border-gray-700">
                {{ member.nationality }}
              </td>
              <td class="px-4 py-3 text-sm border border-gray-700">
                {{ member.identityNumber }}
              </td>
              <td class="px-4 py-3 text-sm border border-gray-700">
                {{ member.role }}
              </td>

              <td
                class="px-4 py-3 text-sm font-semibold border border-gray-700"
              >
                <div class="w-full flex justify-end py-4">
                  <button
                    *ngIf="!member.activate"
                    type="button"
                    (click)="activateMember(member.identityNumber)"
                    [ngClass]="{
                      '  bg-green-600 hover:bg-gray-900': !member.activate
                    }"
                    class="w-full text-center inline-block p-2.5 bg-gray-900 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-700 hover:shadow-lg ring-1 ring-green-600 transition duration-150 ease-in-out"
                  >
                    {{ !member.activate ? "Activate" : "ACTIVATED" }}
                  </button>
                  <div
                    *ngIf="member.activate"
                    class="w-full text-center inline-block p-2.5 bg-gray-900 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:shadow-lg ring-1 ring-green-600 transition duration-150 ease-in-out"
                  >
                    ACTIVATED
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <ng-container *ngIf="members.totalPages">
    <ul class="py-3 flex justify-center text-xs font-medium space-x-2 mt-2">
      <li *ngIf="!members.first">
        <a
          (click)="navigateToPage(currentPage - 1)"
          class="inline-block p-2 bg-gray-900 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-700 hover:shadow-lg ring-1 ring-green-600 transition duration-150 ease-in-out"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-4 h-3.5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
              clip-rule="evenodd"
            />
          </svg>
        </a>
      </li>

      <li *ngFor="let page of getTotalPagesArray(members); let i = index">
        <a
          [ngClass]="{
            ' text-center bg-green-600 hover:bg-gray-900': page == currentPage
          }"
          class="inline-block px-3 py-2 bg-gray-900 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-700 hover:shadow-lg ring-1 ring-green-600 transition duration-150 ease-in-out"
          (click)="navigateToPage(this.page)"
        >
          {{ page }}
        </a>
      </li>

      <li *ngIf="!members.last">
        <a
          (click)="navigateToPage(members.pageable.pageNumber + 2)"
          class="inline-block p-2 bg-gray-900 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-700 hover:shadow-lg ring-1 ring-green-600 transition duration-150 ease-in-out"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-4 h-3.5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"
            />
          </svg>
        </a>
      </li>
    </ul>
  </ng-container>
</ng-container>

<ng-template
  #failureOrLoading
  class="text-md font-semibold leading-relaxed text-red-600 md:text-xl"
>
  <ng-container *ngIf="errorMsg; else loading">
    <div class="text-md font-semibold leading-relaxed text-red-600 md:text-lg">
      {{ errorMsg }}
    </div>
  </ng-container>

  <ng-template #loading> Loading .... </ng-template>
</ng-template>
