<main-layout>
  <div main-content class="w-full h-full">
    <!-- Hero Start here -->
    <div
      class="h-auto w-full bg-center bg-no-reapet bg-cover flex flex-col justify-center md:h-screen"
      style="
        background-image: url('./assets/main/hero.png');
        font-family: 'Prosto One', cursive;
      "
    >
      <div
        class="h-auto bg-black/70 md:h-screen w-full flex flex-col justify-center"
      >
        <div
          class="container p-12 max-w-screen-sm mx-auto px-4 sm:px-6 lg:px-8"
        >
          <div class="flex flex-col items-center space-y-6 md:space-y-10">
            <h1
              class="max-w-md text-3xl font-bold text-center md:text-6xl text-white"
            >
              Start Fishing by joining in a Competition
            </h1>
            <!-- <p class="max-w-sm font-bold text-center text-white">
          Explore a new world, no matter where in the world you want to go, we
          can help get you there .
        </p> -->
            <div class="flex justify-center">
              <a
                routerLink="/competitions"
                class="inline-block px-6 py-2.5 bg-green-700 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-gray-900 hover:shadow-lg ring-1 ring-green-600 transition duration-150 ease-in-out"
              >
                Join
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Hero End here -->

    <!-- Competitions -->
    <section
      id="competitions"
      class="flex flex-col justify-center items-center py-10 px-6 md:px-8 md:py-14"
      style="font-family: 'Prosto One', cursive"
    >
      <h1
        class="max-w-md text-1xl font-bold text-center text-white my-6 md:text-3xl md:my-8"
      >
        Comming Competitions
      </h1>

      <ng-container *ngIf="competitions.content; else NoCompetitions">
        <div
          class="grid grid-cols-1 gap-4 w-full md:grid-cols-2 lg:grid-cols-4 items-center justify-center"
        >
          <div
            *ngFor="let comp of competitions.content"
            class="w-full h-44 xl:h-64 mb-4 sm:mb-0 md:mb-4 rounded"
          >
            <div
              class="relative overflow-hidden w-full rounded h-full bg-no-repeat bg-center bg-cover"
              style="background-image: url('./assets/main/hero.png')"
            >
              <div
                class="backdrop-grayscale-0 bg-black/60 absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden rounded border border-green-900 bg-fixed flex flex-col justify-center gap-4"
              >
                <div class="">
                  <p class="text-center text-white text-xs md:text-sm">
                    <span class="font-bold text-green-500">{{
                      comp.numberOfParticipants
                    }}</span>
                    members
                  </p>
                  <p
                    class="text-center text-white text-md font-bold md:text-xl"
                  >
                    In {{ comp.location }}
                  </p>
                  <p
                    class="text-center text-white text-xs font-extralight md:text-sm"
                  >
                    {{ comp.date }}
                  </p>
                  <p
                    class="text-center text-white text-xs font-extralight md:text-sm"
                  >
                    {{ comp.startTime }} | {{ comp.endTime }}
                  </p>
                </div>
                <div class="flex space-x-2 justify-center">
                  <button
                    type="button"
                    class="inline-block px-6 py-2.5 bg-green-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-gray-900 hover:shadow-lg ring-1 ring-green-600 transition duration-150 ease-in-out"
                  >
                    Join
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <ng-container *ngIf="competitions.totalPages">
          <ul
            class="py-3 flex justify-center text-xs font-medium space-x-2 mt-2"
          >
            <li *ngIf="!competitions.first">
              <a
                (click)="navigateToAdminCompetitions(currentPage - 1)"
                class="inline-block p-2 bg-gray-900 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-700 hover:shadow-lg ring-1 ring-green-600 transition duration-150 ease-in-out"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-4 h-3.5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
              </a>
            </li>

            <li
              *ngFor="
                let page of getTotalPagesArray(competitions);
                let i = index
              "
            >
              <a
                [ngClass]="{
                  ' text-center bg-green-600 hover:bg-gray-900':
                    page == currentPage
                }"
                class="inline-block px-3 py-2 bg-gray-900 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-700 hover:shadow-lg ring-1 ring-green-600 transition duration-150 ease-in-out"
                (click)="navigateToAdminCompetitions(this.page)"
              >
                {{ page }}
              </a>
            </li>

            <li *ngIf="!competitions.last">
              <a
                (click)="
                  navigateToAdminCompetitions(
                    competitions.pageable.pageNumber + 2
                  )
                "
                class="inline-block p-2 bg-gray-900 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-700 hover:shadow-lg ring-1 ring-green-600 transition duration-150 ease-in-out"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-4 h-3.5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
              </a>
            </li>
          </ul>
        </ng-container>
      </ng-container>

      <ng-template #NoCompetitions>
        <h1
          class="max-w-md text-1xl font-bold text-center text-green-600 my-6 md:text-3xl md:my-8"
        >
          There no competitions
        </h1>
      </ng-template>
    </section>

    <!-- Podiums -->
    <section
      id="podiums"
      class="flex flex-col items-center py-10 px-6 md:px-8 md:py-14"
      style="font-family: 'Prosto One', cursive"
    >
      <h1
        class="max-w-md text-1xl font-bold text-center text-white my-6 md:text-3xl md:my-8"
      >
        Podiums
      </h1>

      <div
        class="w-full grid grid-cols-1 gap-4 sm:grid-cols-2 items-start md:grid-cols-3 lg:grid-cols-4"
      >
        <div class="w-full border border-green-900 rounded-lg shadow-sm">
          <img
            class="w-full h-56 rounded-t-lg sm:max-h-60"
            src="./assets/main/hero.png"
            alt=""
          />

          <div class="p-4 grid content-between gap-2 md:h-60">
            <h5 class="text-md tracking-tight font-medium text-white">
              Memebers: 9
            </h5>
            <h5 class="text-md tracking-tight font-medium text-white">
              Location : Safi
            </h5>
            <h5 class="text-md tracking-tight font-medium text-white">
              Date : 25/02/24
            </h5>

            <div>
              <p class="font-normal text-gray-200 text-sm">
                (Start | End) Time
              </p>
              <h5 class="text-md tracking-tight font-normal text-white">
                09:30 | 19:30
              </h5>
            </div>
            <div class="w-full flex items-align justify-center">
              <a
                href="/client/reservations/"
                class="w-full inline-flex justify-center px-6 py-2.5 bg-green-700 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-gray-900 hover:shadow-lg ring-1 ring-green-600 transition duration-150 ease-in-out"
              >
                See Podium
                <svg
                  aria-hidden="true"
                  class="w-4 h-4 ml-2 -mr-1"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="w-full border border-green-900 rounded-lg shadow-sm">
          <img
            class="w-full h-56 rounded-t-lg sm:max-h-60"
            src="./assets/main/hero.png"
            alt=""
          />

          <div class="p-4 grid content-between gap-2 md:h-60">
            <h5 class="text-md tracking-tight font-medium text-white">
              Memebers: 9
            </h5>
            <h5 class="text-md tracking-tight font-medium text-white">
              Location : Safi
            </h5>
            <h5 class="text-md tracking-tight font-medium text-white">
              Date : 25/02/24
            </h5>

            <div>
              <p class="font-normal text-gray-200 text-sm">
                (Start | End) Time
              </p>
              <h5 class="text-md tracking-tight font-normal text-white">
                09:30 | 19:30
              </h5>
            </div>
            <div class="w-full flex items-align justify-center">
              <a
                routerLink="/client/reservations/"
                class="w-full inline-flex justify-center px-6 py-2.5 bg-green-700 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-gray-900 hover:shadow-lg ring-1 ring-green-600 transition duration-150 ease-in-out"
              >
                See Podium
                <svg
                  aria-hidden="true"
                  class="w-4 h-4 ml-2 -mr-1"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main-layout>
